<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Message Encryptotron</title>
	<%= stylesheet_link_tag 'reset' %>   
	<%= stylesheet_link_tag 'text' %>   
	<%= stylesheet_link_tag '960' %>   
	<%= stylesheet_link_tag 'application' %>
	<%= javascript_include_tag :all, :cache => true %>
</head>

<body>
<div class="container_12">
<div class="grid_3">&nbsp;</div>
<div class="grid_6 entry_form">
<h1>EncryptoBot</h1>

 <% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %> 
<% if flash[:error] %>
	<div class="notice"><%= flash[:error] %></div>
<% end %> 
	
<%= yield %>        
</div>
<div class="grid_3">&nbsp;</div>
</div>
</body>